* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: whitesmoke;
}

/* aq display flex - it, allign-items -it da justify-contentit gavacentre cardebi 
   ise rom ert xazze iyvnen */

.big-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 1000px;
  border: 5px solid black;
  background-image: linear-gradient(to right, #2D2D2D, #d9d9d9);
  border-radius: 8px;
  margin: 20px auto;
  padding: 40px 10px;
}

/* Card 1 styles */

.container {
  width: 367px;
  height: 509px;
  background-color: whitesmoke;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 20px;
}

.main-image {
  width: 367px;
  height: 220px;
  object-fit: cover;
}

.text-container {
  padding: 16px;
}

h2 {
  margin: 24px 0;
  color: #5468e7;
}

p {
  color: #232340;
  line-height: 23px;
  font-size: 14px;
  letter-spacing: 1%;
}


/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-right: 45px;
}

.footer p {
  color: #7676b2;
  font-size: 14px;
  letter-spacing: 1%;
  line-height: 23px;
}

.name {
  border-right: 1px solid #7676b2;
  padding-right: 8px;
}

.container:hover {
    box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  }


/* Card 2 animations/style */



/* aq shevqmeni animacia, romelsac viyeneb meore cardze hoveris dros, rom shevcvalo background-color
   da amis shemdeg hoveris dros mxolod P texts vucvli ferze rom shav fonze uketesad gamochndes */

@keyframes backgroundAnimation {
  0% {
    background-color: #d9d9d9;
  }
  100% {
    background-color: #2D2D2D;
    
    
  }
}

.cont-2:hover {
  animation-name: backgroundAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  background-color: #2D2D2D;
  
}

.cont-2:hover p {
    color: white;
    font-weight: bold;
}
